Broken references rendering (PDF)

```adoc
[bibliography]
== Bibliography

* [[[RFC2119,RFC 2119]]]
* [[[RFC7991,RFC 7991]]]
* [[[RFC8174,RFC 8174]]]
```

Renders properly in Word:

<img width="729" alt="Screen Shot 2020-06-10 at 1 22 49 PM" src="https://user-images.githubusercontent.com/11865/84229988-7d21f480-ab1d-11ea-912e-8389f03a768c.png">

But broken in PDF (mn2pdf 1.14):

<img width="567" alt="Screen Shot 2020-06-10 at 1 23 07 PM" src="https://user-images.githubusercontent.com/11865/84229999-86ab5c80-ab1d-11ea-8fad-c738a26db8f1.png">


Maybe this should be related to https://github.com/metanorma/metanorma-standoc/issues/285.

@ronaldtse I've fixed issue partially (see comment below). Please get the latest xslts from https://github.com/metanorma/mn-native-pdf-nist/tree/master/xslt_src.

> Maybe this should be related to [metanorma/metanorma-standoc#285](https://github.com/metanorma/metanorma-standoc/issues/285).

Yes, I agree, it would be better if we can move all visualization logic in presentation xml.
In xslt development I've based on how to `bibitem` displays in DOC and may be I've missed some rules, because at that moment there weren't some fields in xml (for examplem `contributor/person/name/completename`). To correct display `bibitem` element in PDF I need exactly rules how to display it. For example, in NIST.SP.800-116r1.xml there is a `bibitem`:
```xml
<bibitem id="RFC5280" type="standard">
	<fetched>2020-05-21</fetched>
	<title format="text/plain" language="en" script="Latn">Internet X.509 Public Key Infrastructure Certificate and Certificate Revocation List (CRL) Profile</title>
	<uri type="xml">https://xml2rfc.tools.ietf.org/public/rfc/bibxml/reference.RFC.5280.xml</uri>
	<uri type="src">https://www.rfc-editor.org/info/rfc5280</uri>
	<docidentifier type="IETF">RFC 5280</docidentifier>
	<docidentifier type="rfc-anchor">RFC5280</docidentifier>
	<docidentifier type="DOI">10.17487/RFC5280</docidentifier>
	<date type="published">
		<on>2008-05</on>
	</date>
	<contributor>
		<role type="author"/>
		<person>
			<name>
				<completename language="en">D. Cooper</completename>
			</name>
			<affiliation>
				<organization>
					<name>IETF</name>
					<abbreviation>IETF</abbreviation>
				</organization>
			</affiliation>
		</person>
	</contributor>
	<contributor>
		<role type="author"/>
		<person>
			<name>
				<completename language="en">S. Santesson</completename>
			</name>
			<affiliation>...</affiliation>
		</person>
	</contributor>
	<contributor>
		<role type="author"/>
		<person>
			<name>
				<completename language="en">S. Farrell</completename>
			</name>
			<affiliation>...</affiliation>
		</person>
	</contributor>
	<contributor>
		<role type="author"/>
		<person>
			<name>
				<completename language="en">S. Boeyen</completename>
			</name>
			<affiliation>...</affiliation>
		</person>
	</contributor>
	<contributor>
		<role type="author"/>
		<person>
			<name>
				<completename language="en">R. Housley</completename>
			</name>
			<affiliation>...</affiliation>
		</person>
	</contributor>
	<contributor>
		<role type="author"/>
		<person>
			<name>
				<completename language="en">W. Polk</completename>
			</name>
			<affiliation>...</affiliation>
		</person>
	</contributor>
	<language>en</language>
	<script>Latn</script>
	<abstract format="text/plain" language="en" script="Latn">This memo profiles the X.509 v3 certificate and X.509 v2 certificate revocation list (CRL) for use in the Internet.  An overview of this approach and model is provided as an introduction.  The X.509 v3 certificate format is described in detail, with additional information regarding the format and semantics of Internet name forms.  Standard certificate extensions are described and two Internet-specific extensions are defined.  A set of required certificate extensions is specified.  The X.509 v2 CRL format is described in detail along with standard and Internet-specific extensions.  An algorithm for X.509 certification path validation is described.  An ASN.1 module and examples are provided in the appendices.  [STANDARDS-TRACK]</abstract>
	<series type="main">
		<title format="text/plain" language="en" script="Latn">RFC</title>
		<number>5280</number>
	</series>
	<place>Fremont, CA</place>
</bibitem>
```

In DOC it displays as:
![изображение](https://user-images.githubusercontent.com/5559926/84253484-aab86f00-ab18-11ea-9561-25fe23fa19f7.png)

At this moment I don't know when and where I should display text:
- RFC 5280 - from element `<docidentifier type="IETF">` (question: IETF is a fixed or not, what is possible values?)
- IETF RFC 5280 - is this concatenation of `docidentifier/@type + <docidentifier[@type="IETF"]` ? But what should I do in case of another @type?
- DOI 10.17487/RFC5280 - from element `<docidentifier type="DOI">`. But what should I do in case of another value @type?



FYI @Intelligent2013  this will be addressed using Presentational XML here: https://github.com/metanorma/metanorma-standoc/issues/285 . Please track that other task to see how we can fix this one.

@opoudjis could you specify a module which is using for bibitem visuazlization in DOC? I would like to repeat a logic in XSLT to prevent of difference between PDF and DOC. Thanks.

I'm sorry, I don't understand what you are asking for here. Are you asking me to populate the NIST Presentation XML with the content of the citation as Metanorma XML, so that the DOC and the PDF are working from the same input?

I can do that, but it's a project. If that's what you need, please create a distinct ticket for me.

@opoudjis Actually I need a rules to display bibitem's for NIST documents. Could you specify a .rb module which is used to display bibitem's data in DOC? I can repeat the same logic in XSLT, I did similar for OGC and for one another flavor yet.

Ah. OK, in metanorma-nist, it is lib/isodoc/nist/render.rb, lib/isodoc/nist/render_contributors.rb, lib/isodoc/nist/render_dates.rb

Yes, you *can* repeat the same logic in XSLT; I'm wondering if you should. But until I refactor the code, yes, that's where the logic lies.

> Yes, you _can_ repeat the same logic in XSLT; I'm wondering if you should. But until I refactor the code, yes, that's where the logic lies.

@opoudjis I've looked at code and can say the logic in NIST is more complicated than in other flavors (for which I've copied a code). And I think if will copy it now, then further code synchronizing will be complex and expensive. Do you planning to include bibitem visualization into presentation xml?

I think the presentational XML should already have citations expanded, so that we don't need to re-create logic in XSLT.

Welp, that's a new ticket then: https://github.com/metanorma/metanorma-nist/issues/242