Crash on AsciiBib input

I have a bibliography that looks like this:

```adoc

[bibliography]
== Bibliography

* [[[RFC2119,RFC 2119]]]
* [[[RFC7991,RFC 7991]]]
* [[[RFC8174,RFC 8174]]]

[%bibitem]
=== Automatic Cryptographic Validation Protocol
id:: ACVP
contributor::
contributor.role:: author
contributor.person.name.initial:: B.
contributor.person.name.surname:: Fussell
contributor.person.affiliation.organization.name:: Cisco
contributor::
contributor.role:: author
contributor.person.name.initial:: A.
contributor.person.name.surname:: Vassilev
contributor.person.affiliation.organization.name:: National Institute of Standards and Technology
contributor.person.affiliation.organization.abbreviation:: NIST
contributor::
contributor.role:: author
contributor.person.name.initial:: H.
contributor.person.name.surname:: Booth
contributor.person.affiliation.organization.name:: National Institute of Standards and Technology
contributor.person.affiliation.organization.abbreviation:: NIST
contributor::
contributor.role:: publisher
contributor.organization.name:: National Institute of Standards and Technology
contributor.organization.abbreviation:: NIST
date::
date.type:: published
date.value:: 2019-07-01

```

And it crashes:

```
bundler: failed to load command: metanorma (/Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/bin/metanorma)
NoMethodError: undefined method `[]=' for nil:NilClass
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-nist-1.0.9/lib/asciidoctor/nist/cleanup.rb:107:in `block in reference_names'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-nist-1.0.9/lib/asciidoctor/nist/cleanup.rb:106:in `each'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-nist-1.0.9/lib/asciidoctor/nist/cleanup.rb:106:in `reference_names'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-standoc-1.4.0/lib/asciidoctor/standoc/cleanup.rb:47:in `cleanup'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-nist-1.0.9/lib/asciidoctor/nist/cleanup.rb:6:in `cleanup'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-standoc-1.4.0/lib/asciidoctor/standoc/base.rb:169:in `makexml'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-nist-1.0.9/lib/asciidoctor/nist/converter.rb:78:in `makexml'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-nist-1.0.9/lib/asciidoctor/nist/converter.rb:102:in `document'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-standoc-1.4.0/lib/asciidoctor/standoc/utils.rb:107:in `convert'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/asciidoctor-2.0.10/lib/asciidoctor/document.rb:951:in `convert'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/asciidoctor-2.0.10/lib/asciidoctor/convert.rb:120:in `convert'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-1.0.5/lib/metanorma/input/asciidoc.rb:10:in `process'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-nist-1.0.9/lib/metanorma/nist/processor.rb:33:in `input_to_isodoc'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-1.0.5/lib/metanorma/compile.rb:113:in `process_input'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-1.0.5/lib/metanorma/compile.rb:17:in `compile'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-cli-1.2.13.1/lib/metanorma/cli/compiler.rb:41:in `compile_file'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-cli-1.2.13.1/lib/metanorma/cli/compiler.rb:29:in `compile'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-cli-1.2.13.1/lib/metanorma/cli/compiler.rb:33:in `compile'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-cli-1.2.13.1/lib/metanorma/cli/command.rb:36:in `compile'
```

Compiles under standoc.

Cardinal assumption in NIST code is that all references have a distinct docidentifier, to be sorted on. For you not to use a docidentifier in a bibitem is asking for trouble, to the extent that I regard this ticket as invalid; but I am inserting mitigations.

I am also going to generate a warning if bibitem is lacking a docidentifier.

This issue actually originates from here: https://github.com/metanorma/acvp-metanorma 

The AsciiBib entry is located here: https://github.com/metanorma/acvp-metanorma/blob/master/nist.sp.800.acvp-pbkdf.adoc


The error I encountered:

```
bundler: failed to load command: metanorma (/Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/bin/metanorma)
TypeError: no implicit conversion of Symbol into Integer
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/relaton-bib-1.1.0/lib/relaton_bib/hash_converter.rb:126:in `[]'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/relaton-bib-1.1.0/lib/relaton_bib/hash_converter.rb:126:in `block in docid_hash_to_bib'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/relaton-bib-1.1.0/lib/relaton_bib/hash_converter.rb:125:in `each'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/relaton-bib-1.1.0/lib/relaton_bib/hash_converter.rb:125:in `each_with_index'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/relaton-bib-1.1.0/lib/relaton_bib/hash_converter.rb:125:in `docid_hash_to_bib'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/relaton-bib-1.1.0/lib/relaton_bib/hash_converter.rb:19:in `hash_to_bib'
  /Users/me/.rbenv/versions/2.6.5/lib/ruby/gems/2.6.0/gems/metanorma-standoc-1.4.0/lib/asciidoctor/standoc/cleanup_ref.rb:126:in `block in ref_dl_cleanup'
```

Said bibliography now compiles as:

````
<bibitem id="ACVP">
  <fetched>2020-06-15</fetched>
  <title type="main" format="text/plain" language="en" script="Latn">Automatic Cryptographic Validation Protocol</title>
  <docidentifier type="ACVP">ACVP</docidentifier>
````

Your reopening this ticket is rejected on the grounds that I have already fixed this.